<div class="list-wrapper">
    <span class="title">Contacts List</span>
    <button mat-raised-button (click)="addNew()" class="add-btn">Add New Contact
        <i class="material-icons">
            add_circle
        </i>
    </button>

    <div class="no-items" *ngIf="isRequestDone && list.length==0">
        <p>No Items</p>
    </div>

    <mat-form-field *ngIf="list.length > 0">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <table mat-table [dataSource]="sortedList" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-Mail </th>
            <td mat-cell *matCellDef="let item"> {{item.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let item; let i = index;">
                <i class="material-icons delete-btn" (click)="removeContact(item,i)">
                    remove_circle
                </i> -
                <i class="material-icons edit-btn" (click)="editContact(item)">
                    edit_circle
                </i>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!isRequestDone">
        <mat-progress-spinner class="spinner" [mode]="'indeterminate'" [value]="50">
        </mat-progress-spinner>
    </div>
</div>