<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add New Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="contactForm">
            <div class="field-full">
                <mat-form-field>
                    <input type="text" formControlName="name" required matInput placeholder="name">
                    <mat-error *ngIf="contactForm.get('name').touched && contactForm.get('name').hasError('required')||contactForm.get('name').hasError('whitespace')">
                        Field Value is required</mat-error>
                </mat-form-field>
            </div>

            <div class="field-full">
                <mat-form-field>
                    <input type="email" formControlName="email" required matInput placeholder="email">
                    <mat-error *ngIf="contactForm.get('email').touched && (contactForm.get('email').hasError('required'))">
                        Field value is required </mat-error>
                    <mat-error *ngIf="!contactForm.get('email').hasError('required')&& contactForm.get('email').hasError('pattern')">
                        Field value is invalid </mat-error>
                </mat-form-field>
            </div>

            <mat-card class="example-card">
                <mat-card-header class="font-lg">
                    <mat-card-title class="font-lg">Mobiles</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div formArrayName="mobilesArr">
                        <div *ngFor="let item of getMobilesList().controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="mobile">
                                    <mat-form-field class="mobile-title">
                                        <input type="text" formControlName="title" required matInput placeholder="title">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input type="text" formControlName="number" required matInput placeholder="number" maxLength="10">
                                    </mat-form-field>
                                    <button mat-button (click)="removeMobile(i)" class="delete-btn">
                                        <i class="material-icons">
                                            remove_circle
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="addNewMobile($event)" class="add-btn">Add Mobile
                        <i class="material-icons">
                            add_circle
                        </i>
                    </button>
                </mat-card-actions>
            </mat-card>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="save-btn {{contactForm.valid? '' : 'btn-disabled' }}" (click)="saveContact()">Save</button>
        <button mat-button (click)="cancel()" class="cancel-btn">Cancel</button>
    </mat-card-actions>
</mat-card>