/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$blue :#166693;
$blue1:#4c99ee;
$gray : #eeeeee;
$red:red;

.font-lg{
    font-size: 1rem !important;
}

.font-med{
    font-size: .75rem;
}

.font-sm{
    font-size: .5rem;
}

.delete-btn{
    color:$red;
    cursor: pointer;
}

.add-btn{
    color: $blue;
}

.btn-disabled{
    pointer-events: none;
    opacity: .5;
}

.save-btn{
    color: white;
    background-color: $blue;
    width: 50%;
    padding: 10px;
}

.mat-card-title{
    color: $blue;
}